@import '../../../styles/share/variables';

.founder {
  @include use-mobile() {
    padding-bottom: 0;
  }
  .inner {
    background: #f5f5f5;
    border-radius: 24px;
    padding: 32px;

    @include use-mobile() {
      padding: 0;
      background: transparent;
    }
  }

  .title {
    font-size: 49px;
    line-height: 56px;
    text-align: left;
    margin-bottom: 8px;

    @include use-mobile() {
      font-size: 39px;
      line-height: 48px;
    }
  }

  .description {
    font-family: $header-font-family;
    font-size: 16px;
    line-height: 24px;
    color: #3c364d;
    margin-bottom: 1.75rem;
  }

  .social {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .container {
    margin-top: 40px;
  }

  .card {
    margin-right: 1rem;
  }

  .image {
    border-radius: 24px;
  }

  .slide {
    width: 100%;
    max-width: 316px;
    min-height: 630px;
    border-bottom: 30px solid;
    border-image: url('../../../images/founder/border-fence.png') 49;

    @include use-mobile() {
      min-height: unset;
      border-bottom: none;
    }

    &:before {
      content: '';
      position: absolute;
      width: 1px;
      height: 32px;
      bottom: -30px;
      right: -1px;
      background-color: #b9b7bf;

      @include use-mobile() {
        display: none;
      }
    }

    .header {
      font-size: 25px;
      line-height: 32px;
      color: #0d0033;
      margin: 2rem 0 12px;
      text-align: left;
    }

    .description {
      font-family: $header-font-family;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
