@import '../../../styles/share/variables';

.ratesAccordion {
  h3 {
    margin: 0;
  }

  .item {
    padding: 24px 32px;
    background-color: $white;
    border-radius: 24px;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .plus {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    position: relative;
    background-color: #eeedf0;

    .vertical,
    .horizontal {
      width: 22px;
      height: 2px;
      background-color: $tertiary-color;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      transform-origin: center;
      transition: $mid-transition;
      border-radius: 2px;
    }
    .vertical {
      transform: translateY(-50%) translateX(-50%) rotate(90deg);
    }
  }

  .plusMark {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: relative;
    background-color: $white-lilac;

    .vertical,
    .horizontal {
      width: 11px;
      height: 2px;
      background-color: #641aad;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      transform-origin: center;
      transition: $mid-transition;
      border-radius: 2px;
    }
    .vertical {
      transform: translateY(-50%) translateX(-50%) rotate(90deg);
    }
  }

  .starMark {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $white-lilac;
    display: flex;
    align-items: center;
    justify-content: center;

    &.big {
      width: 48px;
      height: 48px;
      background: linear-gradient(93.49deg, #6811be 0%, #8c3fd9 100%);
      margin-left: 12px;
    }
  }

  .badge {
    background-color: #0d0033;
    border-radius: 24px;
    font-size: 25px;
    line-height: 32px;
    color: $white;
    padding: 0.5rem 1rem;
    font-weight: 400;
    margin-left: 24px;
  }

  .button {
    font-size: 14px;
    margin-right: 24px;
    border-radius: 12px;
  }

  .group {
    display: flex;
    align-items: center;
  }

  .trigger {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    width: 100%;
    cursor: pointer;
    padding: 0;

    &[data-state='closed'] {
    }
    &[data-state='open'] {
      .vertical {
        transform: translateY(-50%) translateX(-50%) rotate(45deg);
        opacity: 1;
      }
      .horizontal {
        transform: translateY(-50%) translateX(-50%) rotate(135deg);
        opacity: 1;
      }
    }
  }

  .acc__header {
    color: #0d0033;
    font-weight: 500;
    font-size: 39px;
    margin: 0;
    transition: $mid-transition;
  }

  .container {
    padding: 0;
  }

  .title {
    font-weight: 500;
    font-size: 25px;
    color: $secondary-color;
    text-align: left;
    margin-bottom: 1rem;
  }

  .list {
    gap: 12px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

    .label {
      font-size: 16px;
      color: $secondary-color;
      text-align: left;
      margin: 0;
    }

    .listItem {
      display: flex;
      align-items: flex-start;
      gap: 12px;
    }
  }

  .content {
    overflow: hidden;
    font-size: 24px;
    padding-top: 2rem;
    color: $primary-color;
    transition: $mid-transition;

    @include use-mobile() {
      font-size: 16px;
      padding-top: 1rem;
    }

    &[data-state='open'] {
      animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);

      @include use-mobile() {
        animation: slideDownMobile 500ms cubic-bezier(0.87, 0, 0.13, 1);
      }
    }
    &[data-state='closed'] {
      animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);

      @include use-mobile() {
        animation: slideUpMobile 500ms cubic-bezier(0.87, 0, 0.13, 1);
      }
    }
  }
}

@keyframes slideDown {
  0% {
    height: 0;
    padding-top: 0;
    opacity: 0;
  }
  100% {
    height: 'var(--radix-accordion-content-height)';
    padding-top: 2rem;
    opacity: 1;
  }
}

@keyframes slideDownMobile {
  0% {
    height: 0;
    padding-top: 0;
    opacity: 0;
  }
  100% {
    height: 'var(--radix-accordion-content-height)';
    padding-top: 1rem;
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    height: 'var(--radix-accordion-content-height)';
    padding-top: 2rem;
    opacity: 1;
  }
  100% {
    height: 0;
    padding-top: 0;
    opacity: 0;
  }
}

@keyframes slideUpMobile {
  0% {
    height: 'var(--radix-accordion-content-height)';
    padding-top: 1rem;
    opacity: 1;
  }
  100% {
    height: 0;
    padding-top: 0;
    opacity: 0;
  }
}

@keyframes wiggling {
  0% {
    top: -5px;
  }
  50% {
    top: 5px;
  }
  100% {
    top: -5px;
  }
}
