$black: #000000;
$white: #ffffff;
$alabaster: #fafafa;
$purple: #6811be;
$purple-heart: #8c3fd9;
$white-lilac: #ece4f5;
$black-russian: #07001a;
$martinique: #3c364d;
$jumbo: #777480;

$hauora-font: 'Hauora', sans-serif;
$golos-font: 'GolosText', sans-serif;

$font-size: 1rem;
$font-family: $hauora-font;
$header-font-family: $golos-font;

$background-color: $alabaster;

$mid-transition: 0.3s all;
$breakpoint: 769px;
$breakpoint-tablet: 991px;

$primary-color: $black-russian;
$secondary-color: $martinique;
$tertiary-color: $jumbo;
$accent-color: $purple;

@mixin use-mobile() {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin use-tablet() {
  @media screen and (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin use-accent-gradient() {
  background: linear-gradient(to right, $accent-color, $purple-heart);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
