h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
  color: $primary-color;
  font-weight: 500;
  text-align: center;
  font-size: 68px;

  @include use-mobile() {
    font-size: 48px;
  }
}

.app-wrapper {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: $secondary-color;
  font-family: $font-family;
  background-color: $background-color;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  transition: $mid-transition;

  @include use-mobile() {
    .container {
      width: unset;
    }
  }

  &.menu-visible {
    overflow-y: hidden;
  }

  .desktop-only {
    display: block;
    @include use-tablet() {
      display: none;
    }
    @include use-mobile() {
      display: none;
    }
  }

  .tablet-only {
    display: none;
    @include use-tablet() {
      display: block;
    }
    @include use-mobile() {
      display: none;
    }
  }

  .mobile-only {
    display: none;
    @include use-mobile() {
      display: block;
    }
  }
}

section {
  position: relative;
  padding: 4rem 0 5.75rem;

  @include use-mobile() {
    padding: 2rem 0 3rem;
  }
}
