@import '../../../styles/share/variables';

.welcome {
  margin-top: 60px;
  .countryChip {
    margin: 0 auto 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .label {
    color: $tertiary-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding-right: 6px;

    @include use-mobile() {
      font-size: 13px;
    }
  }

  .highlight {
    @include use-accent-gradient();
  }

  .header {
    margin-bottom: 24px;

    @include use-tablet() {
      font-size: 49px;
      line-height: 56px;
    }
  }

  .description {
    max-width: 420px;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
    font-family: $header-font-family;
    color: $secondary-color;

    @include use-tablet() {
      max-width: 710px;
    }

    @include use-mobile() {
      max-width: 343px;
      font-size: 14px;
      line-height: 20px;
    }
  }

  .link {
    text-decoration: none;
  }

  .buttonGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    @include use-mobile() {
      display: grid;
      grid-template-columns: 1fr 1fr;

      button,
      a {
        width: 100%;
        text-align: center;
      }
    }
  }
}
