@import '../../../styles/share/variables';

.welcome {
  margin-top: 60px;
  .countryChip {
    margin: 0 auto 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .label {
    color: $tertiary-color;
    font-weight: 500;
    font-size: 1rem;
    padding-right: 6px;
  }

  .highlight {
    @include use-accent-gradient();
  }

  .header {
    margin-bottom: 24px;
  }

  .description {
    max-width: 420px;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
    font-family: $header-font-family;
    color: $secondary-color;
  }

  .buttonGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}
