@import '../../../styles/share/variables';

.container {
  height: 100%;

  .card {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;

    @include use-tablet() {
      .balance {
        margin-top: auto;
      }
    }
  }

  .slide {
    padding: 24px 32px;
    border-radius: 24px;
    box-shadow: 0px 40px 100px rgba(26, 26, 26, 0.04);
    background-color: $white;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .title {
    font-weight: 500;
    font-size: 62px;
    color: $tertiary-color;
    text-align: left;
    margin-top: 24px;
    margin-bottom: 86px;

    @include use-mobile() {
      margin-top: 1rem;
      font-size: 1.5rem;
      margin-bottom: 54px;
    }
  }

  .highlight {
    color: $primary-color;
  }

  .pagination {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 1px;

    .bullet {
      width: 22px;
      height: 22px;
      background-color: $white;
      border-radius: 50%;
      border: 1px solid $white-lilac;
    }

    .active {
      background-color: $accent-color;
      border: 1px solid $accent-color;
    }
  }
}
