@import '../../../styles/share/variables';

.stats {
  .title {
    @include use-accent-gradient();
    text-align: left;
    word-break: normal;
  }

  .description {
    font-family: $header-font-family;
    margin-top: 4px;
  }

  .inner {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;

    @include use-mobile() {
      gap: 0;
    }
  }

  .content {
    position: relative;
    height: 100%;
  }

  .emoji {
    position: absolute;
    width: 156px;
    height: 156px;

    &.left {
      top: 25%;
      left: 20px;
    }

    &.right {
      top: 25%;
      left: 165px;
    }

    &.top {
      top: -42%;
      left: 90px;
    }
  }
}

.card {
  padding: 12px 32px 24px;
  border: 1px solid #eeedf0;
  box-shadow: 0px 12px 24px rgba(26, 26, 26, 0.04);
  background-color: $white;
  border-radius: 24px;
  display: flex;
  height: 100%;
  flex-direction: column;

  &.horizontal {
    flex-direction: row;
  }

  &.center {
    .header {
      width: 100%;
    }
    .title,
    .description {
      text-align: center;
    }

    .content {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 18px;
    }
  }

  @include use-mobile() {
    margin-bottom: 1rem;
  }
}
