@import '../../../styles/share/variables';

.tradingCards {
  .inner {
    height: 100%;
  }
  .title {
    font-size: 49px;
    line-height: 56px;
    text-align: left;
    margin: 8px 0 16px;

    @include use-mobile() {
      text-align: center;
    }
  }
  .description {
    font-family: $header-font-family;
    margin-bottom: 1rem;
  }
}
