@import '../../../styles/share/variables';

.footerWithDemo {
  background-color: #0d0033;
}
.footer {
  padding: 2rem 0;
  margin-top: 80px;

  &.dark {
    margin-top: 0;
    .inner {
      border: 1px solid $alabaster;
    }

    .logo {
      color: $white;
    }

    .link__item {
      color: #eeedf0;
    }

    .copyright {
      color: #ccc8d5;

      &__container {
        border-top: 1px solid $alabaster;
      }
    }

    .social {
      path {
        fill: #eeedf0;
      }
    }
  }

  .inner {
    border: 1px solid #ccc8d5;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
  }

  .logo {
    font-family: $header-font-family;
    font-size: 1rem;
    color: #0d0033;
    margin: 0;

    @include use-tablet() {
      font-size: 1rem;
    }

    @include use-mobile() {
      font-size: 1rem;
    }
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;

    @include use-mobile() {
      flex-direction: column;
      gap: 2rem;
    }
  }

  .group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;

    @include use-mobile() {
      flex-direction: column;
      gap: 20px;
    }
  }

  .social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    path {
      fill: #3c364d;
    }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .link {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include use-mobile() {
      flex-direction: column;
    }

    &__item {
      font-family: $header-font-family;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.35px;
      color: $secondary-color;
      text-decoration: none;
      padding: 0.75rem 1rem;
    }
  }

  .copyright {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #777480;
    margin: 0;

    &__container {
      padding: 24px 2rem;
      border-top: 1px solid #ccc8d5;
    }
  }
}
